.srcontainer{
    width: 27.5vw;
    height: 90vh;
    margin : 5vh 0;
    display: grid;
    grid-template-rows: 50%;
    box-shadow: 0 2px 9px rgb(186 186 186 / 50%);
    background-color: #f6f6f6;
}
.srcontainer:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.srimagediv{
    background-color: white;
    width: 70%;
}
/* .srlower{
    background-color: violet;
} */
.srupper{
    position: relative;
}
.resumeimg{
    position: absolute;
    top:30px;
    left:20%;
    width: 60%;
    height: 95%;
    background-color: white;
    border-radius: 5px 5px 0 0 ;
    z-index: 10000;
}
.personname{
    /* background-color: yellow; */
    height: 4vh;
    padding-left: 10px;
}
.tips{
    display: grid;
    place-content: center;
}
.cropimg{
    transform:scale(0.42,0.47) ;
    margin-top: -300px;
    margin-left: -150px;
}